
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
###> doctrine/orm ###
/.phpunit.result.cache
/.phpunit.result.cache.json
### Migration files ###
/migrations/*.php
### Debug files ###
debug_**.php
debug_*.php
debug*.php
debug**.txt
debug**.log
##  Testing files ##
/test*.php
### Test files ###
/*test**.php
/*test**.txt
/*test**.svg
/*test**.log

/create_test*.php
